body {
  font-size: 16px;
  color: #fff;
  background-color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #808080;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  color: #000000;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
}
#nav-list a {
  color: #000000;
  text-align: center;
  background: #ffffcc;
  border-color: #000000;
  border: 2px solid;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}

.navbar-header button.navbar-toggle:hover, .navbar-header:hover .icon-bar {
  border: 1px solid #e6e6e6;
}


.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;

}

/* END HEADER */


/* MAIN */

#main-content {
  color: #000000;
}

#main-content h2{
  font-size: 20px;
}

#big-grid  p{
  height: auto;
  width: 100%;
  background-color:#ffd9cc;
  border: 1px solid black;
}

/* END MAIN */

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */

  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */

  /* End Header */

}
